<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title class="title-login"> <h1>Iniciar Sesion</h1></ion-title>
  </ion-toolbar>
  <form (ngSubmit)="login()" action="">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input
              [(ngModel)]="userForm"
              name="userForm"
              type="text"
              placeholder="usuario"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="lock-closed"></ion-icon>
            <ion-input
              [(ngModel)]="passForm"
              name="passForm"
              type="password"
              placeholder="Contraseña"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button type="submit">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label>Olvidaste la contraseña ?</ion-label>
          <span class="link-title">Recuperar</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="ion-text-center">
            <p>o Continuar con</p>
          </ion-label>
          <ion-icon class="icon-size" name="logo-google"></ion-icon>
          <ion-icon class="icon-size" name="logo-apple"></ion-icon>
          <ion-icon class="icon-size" name="logo-facebook"></ion-icon>
          <ion-label class="ion-text-center">
            <p>No eres mienbro? </p> <span class="link-title">Registrar</span>
          </ion-label>

          <ion-label >
            <p style="margin-top: 100px">CONTINUAR SIN REGISTRAR</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!--  <ion-popover trigger="trigger-button">
    <ng-template>
      <ion-content class="ion-padding">Hello Styled World!</ion-content>
    </ng-template>
  </ion-popover> -->
</ion-content>

<!-- <ion-button id="trigger-button">Click Me</ion-button> -->
