ion-button {
    --background: #98ca3f;
    --border-radius: 20px;
    width: 18rem;
    text-transform: capitalize;
    width: 485.91px;
    height: 74.16px;
  
    font-weight: 600;
    font-size: 23.0166px;
  }