<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map"></div>
  <div id="indicators"></div>
  <div id="container"></div>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar class="custom-button">
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      <div class="button-text">Inicio</div>
    </ion-button>

    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="prism-outline"></ion-icon>
      <span> Rutas </span>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      <span> Explorar </span>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="car-sport-outline"></ion-icon>
      <span> Mis vehiculos </span>
    </ion-button>
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      <span> Perfil </span>
    </ion-button>
  </ion-toolbar>
</ion-footer>
